<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <br />
            <br />
            <br />
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>New Employee</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/Employees" class="btn btn-success back"><i
                                class='fas fa-arrow-circle-left'></i>
                            Back</a>
                    </div>
                </div>
            </div>
            <form #employeeForm="ngForm">
                <div class="table-content">
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="Name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Name" required maxlength="255"
                                [(ngModel)]="addEmployeeForm.Name" name="Name" #Name="ngModel">
                            <div *ngIf="Name.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!Name.errors?.['required']">
                                    Name is required
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="Surname" class="p-t-b-10">Surname<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Surname" required maxlength="255"
                                [(ngModel)]="addEmployeeForm.Surname" name="Surname" #Surname="ngModel">
                            <div *ngIf="Surname.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!Surname.errors?.['required']">
                                    Surname is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-footer">
                    <button class="btn btn-success" (click)="AddEmployee(employeeForm.form.valid)">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>